In [1]:
import glob
import json
import pandas as pd
import matplotlib.pyplot as plt
import os
import time
from functools import reduce
from pylab import rcParams
rcParams['figure.figsize'] = 10,10

In [2]:
# benchmarking throughput

target_ids = [
    '30I8399019000',
    '30I8399019001',
    '30I8399019002',
    '30I8399019003',
    '30I8399019004',
    '30I8399019005',
    '30I8399019006',
    '30I8399019007',
    '30I8399019008',
    '30I8399019009',
    '30I8399019010',
    '30I8399019011',
    '30I8399019012',
    '30I8399019013',
]
base_dir = '../'
download_dir = 'tmp/collect-all'
benchmark_dir = 'tmp/benchmark_throughput'

def parse_elapsed(lines):
    ret = {}
    for x in lines:
        key, value = x.split('\t')
        m, s = value.replace('s', '').split('m')
        ret[key] = float(m)*60 + float(s)
    return ret

def file_stat(files):
    ret = {}
    ret['file_num'] = len(files)
    ret['file_size'] = reduce(lambda a,b: a+b ,map(os.path.getsize, files))

    return ret

cmd_rm_stat = 'cd {base_dir} && mkdir -p {benchmark_dir} && rm -f {benchmark_dir}/stat-{id}.json'
cmd_calc_stat = 'cd {base_dir} && time python3 lastomesh.py --local-scheduler --workers 4 DownloadShizuokaPCD --product-id {id} --output-dir {benchmark_dir} --work-dir {download_dir}/{id}'

throughputs = []
for id in target_ids:

    # ファイル数, 容量
    las_files = list(glob.glob(os.path.join(base_dir, download_dir, id, '*.las')))
    fstat = file_stat(las_files)
    !{cmd_rm_stat.format(base_dir=base_dir, benchmark_dir=benchmark_dir, id=id)}

    # 読み込み&特徴量算出 時間計測
    output = !{cmd_calc_stat.format(base_dir=base_dir, download_dir=download_dir, benchmark_dir=benchmark_dir, id=id)}
    elapsed = parse_elapsed(output[-3:])

    # 点の数
    filepath = os.path.join(base_dir, benchmark_dir, 'stat-{}.json'.format(id))
    with open(filepath, 'r') as f:
        pcd_stat = json.load(f)

    # 結果まとめる
    record = dict(fstat, **elapsed, point_num=pcd_stat['shape']['value'][0], id=id)
    print(record)
    throughputs.append(record)

df_throughputs = pd.DataFrame(throughputs)
df_throughputs

{'file_num': 4, 'file_size': 641946890, 'real': 6.325, 'user': 15.429, 'sys': 3.01, 'point_num': 18880735, 'id': '30I8399019000'}
{'file_num': 4, 'file_size': 635859292, 'real': 6.885, 'user': 15.734, 'sys': 2.71, 'point_num': 18701690, 'id': '30I8399019001'}
{'file_num': 4, 'file_size': 641868078, 'real': 6.522, 'user': 15.373, 'sys': 2.933, 'point_num': 18878420, 'id': '30I8399019002'}
{'file_num': 4, 'file_size': 649677538, 'real': 6.626, 'user': 15.565, 'sys': 2.798, 'point_num': 19108110, 'id': '30I8399019003'}
{'file_num': 4, 'file_size': 648882006, 'real': 6.93, 'user': 16.052, 'sys': 3.017, 'point_num': 19084710, 'id': '30I8399019004'}
{'file_num': 4, 'file_size': 637587546, 'real': 6.204, 'user': 15.104, 'sys': 2.795, 'point_num': 18752520, 'id': '30I8399019005'}
{'file_num': 3, 'file_size': 605604597, 'real': 6.918, 'user': 14.539, 'sys': 2.899, 'point_num': 17811860, 'id': '30I8399019006'}
{'file_num': 3, 'file_size': 618411615, 'real': 6.065, 'user': 14.802, 'sys': 3.032, 'point_num': 18188535, 'id': '30I8399019007'}
{'file_num': 4, 'file_size': 629775264, 'real': 6.124, 'user': 15.161, 'sys': 2.858, 'point_num': 18522750, 'id': '30I8399019008'}
{'file_num': 4, 'file_size': 650957842, 'real': 6.307, 'user': 15.473, 'sys': 3.023, 'point_num': 19145765, 'id': '30I8399019009'}
{'file_num': 4, 'file_size': 667181520, 'real': 6.448, 'user': 16.109, 'sys': 2.893, 'point_num': 19622930, 'id': '30I8399019010'}
{'file_num': 4, 'file_size': 672294134, 'real': 6.608, 'user': 16.288, 'sys': 2.946, 'point_num': 19773305, 'id': '30I8399019011'}
{'file_num': 4, 'file_size': 649376502, 'real': 6.393, 'user': 15.524, 'sys': 3.057, 'point_num': 19099255, 'id': '30I8399019012'}
{'file_num': 4, 'file_size': 648721322, 'real': 6.495, 'user': 15.699, 'sys': 3.042, 'point_num': 19079985, 'id': '30I8399019013'}

    file_num  file_size   real    user    sys  point_num             id
0          4  641946890  6.325  15.429  3.010   18880735  30I8399019000
1          4  635859292  6.885  15.734  2.710   18701690  30I8399019001
2          4  641868078  6.522  15.373  2.933   18878420  30I8399019002
3          4  649677538  6.626  15.565  2.798   19108110  30I8399019003
4          4  648882006  6.930  16.052  3.017   19084710  30I8399019004
5          4  637587546  6.204  15.104  2.795   18752520  30I8399019005
6          3  605604597  6.918  14.539  2.899   17811860  30I8399019006
7          3  618411615  6.065  14.802  3.032   18188535  30I8399019007
8          4  629775264  6.124  15.161  2.858   18522750  30I8399019008
9          4  650957842  6.307  15.473  3.023   19145765  30I8399019009
10         4  667181520  6.448  16.109  2.893   19622930  30I8399019010
11         4  672294134  6.608  16.288  2.946   19773305  30I8399019011
12         4  649376502  6.393  15.524  3.057   19099255  30I8399019012
13         4  648721322  6.495  15.699  3.042   19079985  30I8399019013

In [3]:
throughput_point = df_throughputs['point_num'].sum() / df_throughputs['real'].sum()
file_size_sum = df_throughputs['file_size'].sum() / (1024 ** 3)
elapsed_per_1gb = df_throughputs['real'].sum() / file_size_sum
print(throughput_point, elapsed_per_1gb, file_size_sum, df_throughputs['point_num'].sum())

2913049.7523390194 10.841062682215895 8.380174772813916 264650570

In [4]:
# benchmarking downsampling

target_projects = {
    'mms':[
        '30I8399019000',
        '30I8399019001',
        '30I8399019002',
        '30I8399019003',
        '30I8399019004',
        '30I8399019005',
        '30I8399019006',
        '30I8399019007',
        '30I8399019008',
        '30I8399019009',
    ],
    'construction': [
        '28XXX00040001',
        '29D6152011105',
        '29K2033011103',
        '29K3481011101',
        '29W9350011101',
        '30D0230011102',
        '30D0721011102',
        '30D3703011102',
        '30D7318011101',
        '30K2664011102',
        '31K2650011102',
    ],
    'building': [
        '01R0107011318',
        '01R0107021318',
        '01R0107031318',
        '01R0107041318',
        '01R0107051318',
        '01R0107061318',
        '01R0107071318',
        '29XXX00010002',
        '30XXX03010001',
        '31XXX07010001',
    ],
    'terrain': [
        '28XXX00030001',
        '28XXX00030002',
        '28XXX00030003',
        '28XXX00030004',
        '30XXX00010001',
        '30XXX00010002',
        '30XXX00010003',
        '30XXX00010004',
        '30XXX00010005',
        '30XXX00010062',
    ],
}
base_dir = '../'
download_dir = 'tmp/collect-all'
benchmark_dir = 'tmp/benchmark_throughput'

cmd_rm_ply = 'cd {base_dir} && mkdir -p {benchmark_dir} && rm -f {benchmark_dir}/pcd-{id}.ply'
cmd_calc_ply = 'cd {base_dir} && time python3 lastomesh.py --local-scheduler --workers 4 CreateMeshFromLasData --product-id {id} --output-dir {benchmark_dir} --work-dir {download_dir}/{id} --output-filename pcd-{id}.ply --skip-meshing true'

downsampling = []
for group, target_ids in target_projects.items():
    for id in target_ids:
        print(id)
        # 読み込み&特徴量算出 時間計測
        !{cmd_rm_ply.format(base_dir=base_dir, benchmark_dir=benchmark_dir, id=id)}
        output = !{cmd_calc_ply.format(base_dir=base_dir, download_dir=download_dir, benchmark_dir=benchmark_dir, id=id)}
        elapsed = parse_elapsed(output[-3:])

        # ファイル数, 容量
        las_files = list(glob.glob(os.path.join(base_dir, download_dir, id, '*.las')))
        fstat = file_stat(las_files)

        ply_files = list(glob.glob(os.path.join(base_dir, benchmark_dir, 'pcd-{}.ply'.format(id))))
        fstat_ply = file_stat(ply_files)

        # 結果まとめる
        record = dict(ply_size=fstat_ply['file_size'], **fstat, **elapsed, id=id, group=group)
        # print(record)
        downsampling.append(record)

df_downsampling = pd.DataFrame(downsampling)
df_downsampling

30I8399019000
30I8399019001
30I8399019002
30I8399019003
30I8399019004
30I8399019005
30I8399019006
30I8399019007
30I8399019008
30I8399019009
28XXX00040001
29D6152011105
29K2033011103
29K3481011101
29W9350011101
30D0230011102
30D0721011102
30D3703011102
30D7318011101
30K2664011102
31K2650011102
01R0107011318
01R0107021318
01R0107031318
01R0107041318
01R0107051318
01R0107061318
01R0107071318
29XXX00010002
30XXX03010001
31XXX07010001
28XXX00030001
28XXX00030002
28XXX00030003
28XXX00030004
30XXX00010001
30XXX00010002
30XXX00010003
30XXX00010004
30XXX00010005
30XXX00010062

,ply_size,file_num,file_size,real,user,sys,id,group
0,73627212,4,641946890,6.049,5.441,1.537,30I8399019000,mms
1,75580581,4,635859292,6.057,5.464,1.522,30I8399019001,mms
2,75400437,4,641868078,6.106,5.488,1.548,30I8399019002,mms
3,77291247,4,649677538,6.279,5.560,1.649,30I8399019003,mms
4,73451226,4,648882006,6.164,5.602,1.490,30I8399019004,mms
5,75293463,4,637587546,6.092,5.460,1.560,30I8399019005,mms
6,75284391,3,605604597,6.048,5.400,1.576,30I8399019006,mms
7,74826147,3,618411615,5.985,5.436,1.478,30I8399019007,mms
8,75318006,4,629775264,6.057,5.495,1.492,30I8399019008,mms
9,77331153,4,650957842,6.206,5.605,1.531,30I8399019009,mms
10,82922664,3,577398385,7.134,6.326,1.739,28XXX00040001,construction
11,171136308,9,1685283681,21.687,19.571,3.051,29D6152011105,construction
12,14543,1,108189,0.604,0.922,0.610,29K2033011103,construction
13,61683870,3,435526235,5.260,4.672,1.516,29K3481011101,construction
14,34034250,2,254843614,3.718,3.590,1.056,29W9350011101,construction
15,74530632,4,718426570,6.076,5.415,1.589,30D0230011102,construction
16,16262633,1,98929083,1.573,1.790,0.712,30D0721011102,construction
17,237142074,8,1631106774,34.307,31.500,3.744,30D3703011102,construction
18,54332553,3,438884689,8.654,8.111,1.474,30D7318011101,construction
19,83502,1,740031,0.592,0.950,0.569,30K2664011102,construction
20,26666,1,222803,0.598,0.943,0.581,31K2650011102,construction
21,11881586,1,78000227,1.335,1.598,0.665,01R0107011318,building
22,11629136,1,78000227,1.328,1.563,0.692,01R0107021318,building
23,11000225,1,78000227,1.313,1.542,0.666,01R0107031318,building
24,12187145,1,78000227,1.362,1.595,0.696,01R0107041318,building
25,11012861,1,78000227,1.334,1.569,0.694,01R0107051318,building
26,12044342,1,78000227,1.353,1.609,0.671,01R0107061318,building
27,12315098,1,78000227,1.353,1.647,0.633,01R0107071318,building
28,178988772,6,1168920334,17.704,15.837,2.799,29XXX00010002,building
29,555350602,24,5001523502,67.336,59.573,8.022,30XXX03010001,building
30,86419083,3,565278169,7.033,6.223,1.739,31XXX07010001,building
31,94736703,4,708598990,6.920,6.259,1.589,28XXX00030001,terrain
32,96535416,4,713537456,6.982,6.290,1.622,28XXX00030002,terrain
33,75756486,3,615522173,5.698,5.236,1.378,28XXX00030003,terrain
34,81183405,3,605797425,6.106,5.560,1.474,28XXX00030004,terrain
35,376939,1,3124999,0.641,1.023,0.509,30XXX00010001,terrain
36,24686876,2,209949438,2.585,2.606,0.897,30XXX00010002,terrain
37,82691679,4,722572282,7.649,6.916,1.664,30XXX00010003,terrain
38,143755689,6,1221313028,12.640,11.191,2.379,30XXX00010004,terrain
39,11809523,1,103889099,1.417,1.636,0.709,30XXX00010005,terrain
40,10754120,1,88233425,1.322,1.584,0.666,30XXX00010062,terrain

In [5]:
downsampling_mean = df_downsampling.mean()
downsampling_sum = df_downsampling.sum()

reduce_ratio = downsampling_sum['ply_size'] / downsampling_sum['file_size']
elapsed_per_1gb = downsampling_sum['real'] / (downsampling_sum['file_size'] / 1024**3 )
print(elapsed_per_1gb, reduce_ratio, downsampling_sum['ply_size'] / 1024**2 / 40)

13.36488471343121 0.12300424984069563 71.78042516708373

In [6]:
df_downsampling['file_size_mb'] = df_downsampling['file_size'] / 1024**2
df_downsampling['ply_size_mb'] = df_downsampling['ply_size'] / 1024**2

for key, downsampling_sum in df_downsampling.groupby('group').sum().iterrows():
    reduce_ratio = downsampling_sum['ply_size'] / downsampling_sum['file_size']
    elapsed_per_1gb = downsampling_sum['real'] / (downsampling_sum['file_size'] / 1024**3 )
    print(key, elapsed_per_1gb, reduce_ratio)

df_downsampling.groupby('group').mean()

building 14.959669971046694 0.12398559741321595
construction 16.580541003364356 0.12533997234114727
mms 10.304802129184049 0.11844909872480014
terrain 11.17500190382415 0.12464337712348633

,ply_size,file_num,file_size,real,user,sys,file_size_mb,ply_size_mb
group,,,,,,,,
building,9.028288e+07,4.000000,7.281724e+08,10.145100,9.275600,1.727700,694.439277,86.100469
construction,6.656088e+07,3.272727,5.310427e+08,8.200273,7.617273,1.512818,506.441815,63.477403
mms,7.534039e+07,3.800000,6.360571e+08,6.104300,5.495100,1.538300,606.591288,71.850191
terrain,6.222868e+07,2.900000,4.992538e+08,5.196000,4.830100,1.288700,476.125556,59.345897

In [7]:
base_dir = '../'
download_dir = 'tmp/collect-all'
benchmark_dir = 'tmp/benchmark_throughput'

cmd_rm_ply = 'cd {base_dir} && mkdir -p {benchmark_dir} && rm -f {benchmark_dir}/mesh-{id}.ply'
cmd_calc_ply = 'cd {base_dir} && time python3 lastomesh.py --local-scheduler --workers 4 CreateMeshFromLasData --product-id {id} --output-dir {benchmark_dir} --work-dir {download_dir}/{id} --output-filename mesh-{id}.ply --simplify-type vertex-clustering'

meshing = []
for group, target_ids in target_projects.items():
    for id in target_ids:
        print(id)
        # 読み込み&特徴量算出 時間計測
        !{cmd_rm_ply.format(base_dir=base_dir, benchmark_dir=benchmark_dir, id=id)}
        output = !{cmd_calc_ply.format(base_dir=base_dir, download_dir=download_dir, benchmark_dir=benchmark_dir, id=id)}
        elapsed = parse_elapsed(output[-3:])

        # ファイル数, 容量
        las_files = list(glob.glob(os.path.join(base_dir, download_dir, id, '*.las')))
        fstat = file_stat(las_files)

        ply_files = list(glob.glob(os.path.join(base_dir, benchmark_dir, 'mesh-{}.ply'.format(id))))
        fstat_ply = file_stat(ply_files)

        # 結果まとめる
        record = dict(ply_size=fstat_ply['file_size'], **fstat, **elapsed, id=id, group=group)
        # print(record)
        meshing.append(record)

df_meshing = pd.DataFrame(meshing)
df_meshing

30I8399019000
30I8399019001
30I8399019002
30I8399019003
30I8399019004
30I8399019005
30I8399019006
30I8399019007
30I8399019008
30I8399019009
28XXX00040001
29D6152011105
29K2033011103
29K3481011101
29W9350011101
30D0230011102
30D0721011102
30D3703011102
30D7318011101
30K2664011102
31K2650011102
01R0107011318
01R0107021318
01R0107031318
01R0107041318
01R0107051318
01R0107061318
01R0107071318
29XXX00010002
30XXX03010001
31XXX07010001
28XXX00030001
28XXX00030002
28XXX00030003
28XXX00030004
30XXX00010001
30XXX00010002
30XXX00010003
30XXX00010004
30XXX00010005
30XXX00010062

,ply_size,file_num,file_size,real,user,sys,id,group
0,10981199,4,641946890,38.633,210.969,10.619,30I8399019000,mms
1,10606062,4,635859292,30.777,155.412,8.399,30I8399019001,mms
2,10048693,4,641868078,22.377,93.551,6.369,30I8399019002,mms
3,9963153,4,649677538,24.105,107.598,6.521,30I8399019003,mms
4,10368664,4,648882006,25.248,115.607,6.717,30I8399019004,mms
5,10217828,4,637587546,22.994,98.924,6.038,30I8399019005,mms
6,8947008,3,605604597,22.548,98.743,6.240,30I8399019006,mms
7,9325417,3,618411615,26.818,128.235,7.696,30I8399019007,mms
8,9164972,4,629775264,25.999,122.753,7.832,30I8399019008,mms
9,9690015,4,650957842,24.103,107.275,6.695,30I8399019009,mms
10,14725591,3,577398385,23.157,72.271,5.018,28XXX00040001,construction
11,8841431,9,1685283681,44.411,145.575,9.786,29D6152011105,construction
12,2561,1,108189,2.023,9.845,1.272,29K2033011103,construction
13,4289706,3,435526235,38.990,239.436,13.192,29K3481011101,construction
14,1823512,2,254843614,15.087,80.004,5.441,29W9350011101,construction
15,5959941,4,718426570,25.409,126.359,8.119,30D0230011102,construction
16,1568048,1,98929083,4.319,21.106,1.862,30D0721011102,construction
17,46446992,8,1631106774,92.585,252.934,14.622,30D3703011102,construction
18,12592635,3,438884689,22.059,67.602,4.286,30D7318011101,construction
19,16533,1,740031,2.206,12.796,1.116,30K2664011102,construction
20,11864,1,222803,2.137,11.868,1.253,31K2650011102,construction
21,3014066,1,78000227,10.278,71.302,3.008,01R0107011318,building
22,2639595,1,78000227,9.172,64.915,2.689,01R0107021318,building
23,1457182,1,78000227,17.703,135.338,4.878,01R0107031318,building
24,5066294,1,78000227,11.398,71.118,3.362,01R0107041318,building
25,1025139,1,78000227,13.433,101.437,4.233,01R0107051318,building
26,2116355,1,78000227,10.267,73.124,3.204,01R0107061318,building
27,2834670,1,78000227,10.519,73.052,3.286,01R0107071318,building
28,14791192,6,1168920334,99.103,522.352,24.838,29XXX00010002,building
29,92475823,24,5001523502,241.464,844.809,41.391,30XXX03010001,building
30,6093353,3,565278169,52.704,331.853,15.251,31XXX07010001,building
31,15627105,4,708598990,41.005,196.712,10.390,28XXX00030001,terrain
32,16603069,4,713537456,59.450,318.534,17.057,28XXX00030002,terrain
33,23965077,3,615522173,38.969,166.829,9.792,28XXX00030003,terrain
34,13347772,3,605797425,38.689,189.441,10.860,28XXX00030004,terrain
35,28004,1,3124999,3.022,21.247,1.304,30XXX00010001,terrain
36,864259,2,209949438,30.149,192.486,11.055,30XXX00010002,terrain
37,2641752,4,722572282,92.488,560.307,30.645,30XXX00010003,terrain
38,4763838,6,1221313028,125.507,711.415,36.410,30XXX00010004,terrain
39,414345,1,103889099,14.410,91.361,4.682,30XXX00010005,terrain
40,423933,1,88233425,13.665,88.016,4.386,30XXX00010062,terrain

In [8]:
meshing_mean = df_meshing.mean()
meshing_sum = df_meshing.sum()

reduce_ratio = meshing_sum['ply_size'] / meshing_sum['file_size']
elapsed_per_1gb = meshing_sum['real'] / (meshing_sum['file_size'] / 1024**3 )
print(elapsed_per_1gb, reduce_ratio, meshing_sum['file_size'] / 1024**2 / 40, meshing_sum['ply_size'] / 1024**2 / 40)
meshing_sum

64.45968515485137 0.016578674243309163 583.5605294942856 9.674659919738769

ply_size                                             405784648
file_num                                                   143
file_size                                          24476302631
real                                                   1469.38
user                                                   7104.51
sys                                                    381.814
id           30I839901900030I839901900130I839901900230I8399...
group        mmsmmsmmsmmsmmsmmsmmsmmsmmsmmsconstructioncons...
dtype: object

In [9]:
df_meshing['file_size_mb'] = df_meshing['file_size'] / 1024**2
df_meshing['ply_size_mb'] = df_meshing['ply_size'] / 1024**2

for key, meshing_sum in df_meshing.groupby('group').sum().iterrows():
    reduce_ratio = meshing_sum['ply_size'] / meshing_sum['file_size']
    elapsed_per_1gb = meshing_sum['real'] / (meshing_sum['file_size'] / 1024**3 )
    print(key, elapsed_per_1gb, reduce_ratio)

df_meshing.groupby('group').mean()

building 70.19562402230672 0.01806078839745644
construction 50.06770839239708 0.016481949425397158
mms 44.49922924589507 0.015613852307253385
terrain 98.36281410164722 0.0157593490596977

,ply_size,file_num,file_size,real,user,sys,file_size_mb,ply_size_mb
group,,,,,,,,
building,1.315137e+07,4.000000,7.281724e+08,47.604100,228.930000,10.6140,694.439277,12.542121
construction,8.752619e+06,3.272727,5.310427e+08,24.762091,94.526909,5.9970,506.441815,8.347148
mms,9.931301e+06,3.800000,6.360571e+08,26.360200,123.906700,7.3126,606.591288,9.471227
terrain,7.867915e+06,2.900000,4.992538e+08,45.735400,253.634800,13.6581,476.125556,7.503429